<div id="finalOrderComplete">
    <div class="messageline">Order NOT Successful</div>
    <div class="messageline">Message: <%= message %></div>
    <div class="messageline">Status: <%= error.status %></div>
</div>